<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BLToolkit" version="4.3.4" targetFramework="net452" />
  <package id="Modulbank.Cache.Contracts" version="1.0.1" targetFramework="net452" />
  <package id="Modulbank.Comet.Contracts" version="1.0.1" targetFramework="net452" />
  <package id="Modulbank.CommonLibrary" version="1.2.4" targetFramework="net452" />
  <package id="Modulbank.DbMapping" version="1.0.2" targetFramework="net452" />
  <package id="Modulbank.DbMapping.Contracts" version="1.0.1" targetFramework="net452" />
  <package id="Modulbank.Exceptions" version="1.0.2" targetFramework="net452" />
  <package id="Modulbank.ExecutionContext" version="1.0.2" targetFramework="net452" />
  <package id="Modulbank.Logger.Contracts" version="1.0.1" targetFramework="net452" />
  <package id="Modulbank.MailSending.Contracts" version="1.0.1" targetFramework="net452" />
  <package id="Modulbank.ServiceBus.Contracts" version="2.1.2" targetFramework="net452" />
  <package id="Modulbank.Templater.Contracts" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Npgsql" version="3.1.6" targetFramework="net452" />
</packages>